//configDB.php

<?php
return array(
    'DB_HOSTNAME' => 'localhost',
    'DB_USERNAME' => 'lalala',
    'DB_PASSWORD' => '123123',
    'DB_DATABASE_NAME' => 'chocofactory',
);
?>

---------------------------------------------

//configAPI.php

<?php
return array(
    'API_URL' => 'localhost:3000/supply',
    'FACTORY_COKLAT_URL' => 'http://192.168.0.103:8080/ws-factory/coklat?wsdl'
);
?>