body {
	text-align: center;
	background-color:  #fff1e6;
}

.flex-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(203, 153, 126, 0.5);
	box-shadow: 0 0 20px rgba(0,0,0,0.4);
	width: 80%;
	margin: 30px auto;
}
